<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/account_get_style.css') }}">
    <link rel="stylesheet" href="style/components/account_get_style.css">
    <title>Список счетов</title>
</head>
<body>

<div align="center" class="color_gr">
    <h1>Мои счета:</h1>
    <table>
        <tr>
            <th>Имя пользователя</th>
            <th>Номер счета</th>
            <th>Баланс</th>
            <th>Действия</th>
        </tr>
        {% for account in account_info %}
        <tr>
            <td>{{ account.user_name }}</td>
            <td>{{ account.acc_num }}</td>
            <td>{{ account.balance }}$</td>
            <td>
                <form action="http://127.0.0.1:5000/delete_account/{{ account.acc_num }}">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
